* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
    color: cyan;
}
header h1 {
    display: inline-block;
    font-size: 45px;
}
header nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 18px;
    padding-top: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
   display: inline-block;
   margin-left: 25px;
}
a {
    color: cyan;
    text-decoration: none;
}